.autosearch {
	padding-bottom: 10rem;

	.form-wrapper {
		padding: 6.4rem 6.4rem 10rem 6.4rem;
		background: $white;
		border-radius: .8rem;

		form {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.group {
				width: 48.7%;
				margin-bottom: 3rem;

				.group-wrapper {
					display: flex;
					justify-content: space-between;

					.price-changer {
						margin-left: 1rem;
					}
				}

				label {
					margin-bottom: 1.2rem;
				}

				&.textarea {
					textarea {
						height: 15rem;
					}
				}

				&.control,
				&.textarea {
					label {
						color: #000;
					}
				}
			}

			.btn {
				margin-left: auto;
			}
		}
	}
}

@include respond(m-screen) {
	.autosearch {
		padding-bottom: 5rem;

		.form-wrapper {
			padding: 2.5rem 2.5rem 3rem 2.5rem;

			form {

				.group {
					width: 100%;
				}
			}
		}
	}
}