// Mixins
@import "main-scss/mixins.scss";

// Resettings, General styles
@import "main-scss/fonts.scss";
@import "main-scss/variables.scss";
@import "main-scss/null.scss";
@import 'main-scss/nouislider.scss';

body,
html {
	font-size: 10px;
}

body {
	color: $dark;
	background-color: $white;
	font-family: $fontfamily;
	overflow-x: hidden;
	background: #F7F7F7;
}

.main-wrapper {
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
	color: $dark;
	font-weight: 700;
	font-family: inherit;
}

a {
	font-size: 1.8rem;
	line-height: 1.2;
	color: $dark;
	font-family: inherit;
	transition: all .3s ease;

	&:hover {
		color: $orange;
	}
}

// Main grid
.container {
	max-width: 144rem;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	padding: 0 4.8rem;

	@include respond(lg-screen) {
		padding: 0 3rem;
	}

	@include respond(m-screen) {
		padding: 0 1.5rem;
	}
}

.container-header {
	max-width: 144rem;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	padding: 0 6.4rem;

	@include respond(lg-screen) {
		padding: 0 3rem;
	}

	@include respond(m-screen) {
		padding: 0 1.5rem;
	}
}


.prew-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 6.4rem;
	margin-top: 3rem;

	.text-block {
		width: 100%;
		max-width: 54rem;
		margin-right: 1rem;

		h1 {
			font-weight: 500;
			font-size: 4.8rem;
			line-height: 1.33;
			color: $dark;
			margin-bottom: 3rem;
		}

		h4 {
			font-weight: 400;
			font-size: 2.4rem;
			line-height: 1.5;
			color: $gray;
		}
	}

	.img-wrapper {
		max-width: 64rem;
		border-radius: .8rem;
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	@include respond(m-screen) {
		margin-bottom: 5rem;
		flex-wrap: wrap;

		.text-block {
			max-width: 64rem;
			margin-right: 0;
			margin-bottom: 2rem;

			h1 {
				margin-bottom: 2rem;
			}

		}
	}
}


// Connecting pages style
@import "main-scss/header.scss";
@import "main-scss/footer.scss";
@import "main-scss/form.scss";
@import "main-scss/btn.scss";
@import "main-scss/range-slider.scss";

@import "breadcrumbs.scss";
@import "pagination.scss";
@import "product-card.scss";

@import "main-screen.scss";
@import "what-about.scss";
@import "autosearch-block.scss";
@import "cards.scss";

@import "about.scss";
@import "contact.scss";

@import "autosearch.scss";
@import "products.scss";