.header {
	width: 100%;
	height: 12.2rem;
	background: $white;

	.wrapper {
		display: flex;
		align-items: center;
		height: 100%;
		padding: 1rem 0;

		.right-block {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			height: 100%;
			max-width: 45rem;

			.logo {
				display: flex;
				height: 100%;
				max-width: 15rem;

				img {
					width: 100%;
				}
			}

			.navbar-toggler {
				margin-left: .8rem;
			}
		}

		.language-selector {
			display: flex;
			align-items: center;
			margin-left: auto;

			a {
				line-height: 1;
			}

			.language {
				margin: 0 0.8rem;
			}
		}

		.nav-menu {
			display: flex;
			align-items: center;
			margin-left: auto;
			background: $white;

			.nav-link {
				color: $dark;
				font-weight: 500;
				margin: 0 1rem;
				padding: 0 1rem;

				&:hover {
					color: #F15427;
				}
			}
		}
	}
}

@include respond(m-screen) {
	.header {
		height: 7rem;

		.container-header {
			padding: 0;
		}

		.wrapper {
			padding: 1.4rem 0;

			.right-block {
				max-width: initial;
				padding: 0 1.5rem;
			}

			.navbar-collapse {
				z-index: 100;
			}

			.nav-menu {
				padding: 2rem 0;

				.nav-link {
					margin: 0 .5rem;
					padding: .5rem;
				}
			}
		}
	}
}