// Font
$fontfamily: 'Montserrat',
	sans-serif;


// Colors
$dark: #252525;
$gray: #555353;
$light-gray: #FAFAFA;
$white: white;
$blue: #519DF0;
$bright-blue: #007AFF;
$red: #FF2E2E;
$violent: #4450DA;
$orange: #F15427;
$yellow: #F2C94C;
$green: #29BD68;